@{
    ViewBag.Title = "课程详情";
}


<style>
    .div-inline {
        display: inline;
        float: left;
        text-align: center;
        line-height: 35px;
    }

    ul li {
        list-style-type: none;
    }

    .zoomImage {
        width: 100%;
        
        padding-bottom: 45%;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
</style>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta charset="UTF-8" />
    <title>助力</title>
</head>
<body>
      <div>
            <table cellspacing="0" cellpadding="0" style="background: black; position:fixed; left:0px; top:0px; z-index:1001; width:100%; height:100%; text-align:center;">
                <tr>
                    <td><img id="bigImg" /></td>
                </tr>
            </table>
      		<!-- <div>
      			<img v-bind:src="imgUrl" style="width: auto;  height: auto;  max-width: 100%; max-height: 100%;"/>
      		</div> -->
  	  </div>
</body>

<script>
    $(function () {
            //announcements
            var imgUrl = '@ViewBag.Link';
            var message = '@ViewBag.Message';
            //functions
            function load() {
                $("#bigImg").attr('src',imgUrl); 
            }
            function LoadImg(){
                var screenRatio = $(window).height() / $(window).width();
                var imgRatio = $("#bigImg").height() / $("#bigImg").width();
                if (screenRatio > imgRatio) {
                    $("#bigImg").css('width', $(window).width() + "px");
                    $("#bigImg").css("height", "auto");
                }
                else {
                    $("#bigImg").css('width', "auto");
                    $("#bigImg").css("height", $(window).height() + "px");
                }
            }
            // function goBack() {
            //     window.location.href = "/WxMy/MyClass?openid=" + openid+"&&code=null&&state=null";
            // }
            //handler
            // $('#btnBack').click(function () {
            //     goBack();
            // })
            //init
            load();
            LoadImg();
        })
    
	// var helpVue=new Vue({
	// 	el:"#help",
	// 	data:{
	// 		imgUrl:'@ViewBag.Link',
	// 		message:'@ViewBag.Message'
	// 	}
	// });
</script>