
@{
     ViewBag.Title = "课程详情";
}


<style>
.div-inline { 
	display:inline;
	float: left;
	text-align:center;
	line-height: 35px;
} 

ul li{
list-style-type:none;
}

</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>课程详情</title>
</head>
<body>
  	<header data-am-widget="header" class="am-header am-header-default" style="background-color: white;">
	  <div class="am-header-left am-header-nav">
		    <a href="javascript:window.history.back(); " class="">
		  		<img class="am-header-icon-custom" src="~/Images/icon/返回.png" alt=""/>
		  	</a>
	  </div>
	   <h3 class="am-header-title" style="color: black;padding-top: 15px;font-size: 18px;">
          课程详情
      </h3>
	</header>
  	<hr style="margin-top: 0px;margin-bottom: 5px;"/>
  	<div>
  		<form class="am-form">
	        <fieldset>	
            	<video id="myVideo" v-bind:src="currVideoUrl"  width="100%" height="180" controls>				  	
					您的浏览器不支持 video 标签。
				</video>
               
	            <div id="detail" model="form">
	            	<div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin: 0px;background-color: #4f463c;color: white">
						  <ul class="am-tabs-nav am-cf" >
						      <li class="am-active" style="background-color: #4f463c;border-bottom-color: #f9d001;"><a style="color: white;" href="[data-tab-panel-0]">课程信息</a></li>
						      <li class="" style="background-color: #4f463c;border-bottom-color: #f9d001;"><a style="color: white;" href="[data-tab-panel-1]">课程大纲</a></li>
						  </ul>
						  <div class="am-tabs-bd" style="min-height:500px ;">
						      <div data-tab-panel-0 class="am-tab-panel am-active" style="min-height:500px ;overflow-y: auto;">
						        	<div id="contentData">
                        			</div>
						      </div>
						      <div data-tab-panel-1 class="am-tab-panel " style="min-height:500px ;overflow-y: auto;">
						        <ul v-for="item in capData" style="margin-bottom: -1px;">
								    <li><img class="am-header-icon-custom" style="height: 50px;" src="~/Images/icon/line_b.png" alt=""/><span style="margin-left: 10px;">{{item.ChapterTitle}}</span></li>
								</ul>
						      </div>
						  </div>
					</div>
					<header class="am-topbar  am-topbar-fixed-bottom" style="height: 40px;background-color: #332c25;">
						<div class="div-inline"  v-on:click="GoStudy()" style="margin-left: 150px;margin-top: 7px;width: 19%;border-radius:55px;color: white;font-size: 15px;height: 35px;background-color: #ff8a00;"  >
							立即学习
						</div>	
									
					</header>
					<div v-if="form.IsHelp=='1'" role="alert" class="el-notification right" style="top: 116px;z-index: 2000;width: 60px;border-radius:100px;background-color: #ff8a00;height: 60px;" v-on:click="GoHelp()">
						<div class="el-notification__group" style="margin-left: 5px;margin-top: 5px;">
							<div class="el-notification__title" style="font-size: 1px;color: white;width: 30px;height: 12px;" >助力</div>
						</div>
					</div>
	            </div>
	        </fieldset>
	    </form>  	
        
		
  	</div>
  	



	
</body>


<script>
	var openid = '@ViewBag.Openid';
	var classid='@ViewBag.ClassId';
	var videoVue=new Vue({
		el:"#myVideo",
		data:{
			currVideoUrl:"",
		}
	});
	var detailVue=new Vue({
		el:"#detail",
		data:{
			capData:[],	
			form:{}
		},
		created: function () {
                this.Query();
               
         },
         methods:{
         	Query:function () {  
			    var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxClass/GetClassByKey?pGuid=" + guid(),
                    data: {
                        classid:classid
                    },
                    success: function (result) { 
                        //_self.data = result; 
                        _self.form=result; 
                        //var content = b64_to_utf8(result.ClassContent);
                        $('#contentData').html("<div class='default-content'>" + result.ClassContent + "</div>");
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                }); 
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxClass/GetChaptersByClassKey?pGuid=" + guid(),
                    data: {
                        classid:classid
                    },
                    success: function (result) { 
                        _self.capData = result; 
                        videoVue.currVideoUrl=result[0].VideoUrl;
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                });  
			},
			GoStudy:function()
			{
				console.log(classid)
			},
			
			
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }

	
</script>
