
@{
     ViewBag.Title = "课程详情";
}


<style>
.div-inline { 
	display:inline;
	float: left;
	text-align:center;
	line-height: 35px;
} 

ul li{
list-style-type:none;
}
.zoomImage{
    width:100%;
    height:0;
    padding-bottom: 45%;
    overflow:hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}
</style>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta charset="UTF-8" />
    <title>课程详情</title>
</head>
<body>
  	<header data-am-widget="header" class="am-header am-header-default" style="background-color: white;">
	  <div class="am-header-left am-header-nav">
		    <a  href="javascript:window.history.back(); " class="">
		  		<img class="am-header-icon-custom" src="~/Images/icon/返回.png" alt=""/>
		  	</a>
	  </div>
	    <h3 class="am-header-title" 
	   	style="width:100px;float:left;color: black;padding-top: 15px;font-size: 18px;margin-right: 0px;">
          访谈详情
      </h3>
      <div class="am-input-group">	
	      <span class="am-input-group-btn" >
	      	<button class="am-btn" type="button" onclick="GoHome()" 
	        	style="margin-top: 3px;float:right;background-color: white;border-color:white;margin-left: 45px;">
	        	<div><img class="am-header-icon-custom" src="~/Images/icon/主页.png" style="height: 20px;" alt=""/></div>
	        </button>
	        
	      </span>
	    </div>
	</header>
  	<hr style="margin-top: 0px;margin-bottom: 5px;"/>
  	<div>
  		<form class="am-form">
	        <fieldset>	
            	<div  id="myVideo">
	            	<div  class="zoomImage" style="height:160px" v-bind:style="{backgroundImage:'url(' + imgUrl + ')'}"></div>
	            	<!--<video v-if="status==2"  v-bind:src="currVideoUrl"  width="100%" height="160" controls>				  	
					</video>-->
					<audio v-if="status==2" v-bind:src="currVideoUrl" style="width: 100%;" controls="controls">
					</audio>	
               </div>
	            	
	            <!--<div id="detail" model="form">
	            	<div style="margin-left: 15px;">
	            		<h4>{{form.ClassName}}</h4>
	            		<table style="width: 100%;">
	            			<tr>
								<th style="width: 33%;"  >
									<span style="color: red;font-size: 15px;">¥  {{form.ClassPrice}}</span>
								</th>
								<th style="width: 33%;">
									<div style="color: #999999;padding-top: 5px"><img style="margin-right: 3px;" class="am-header-icon-custom" src="~/Images/icon/眼睛.png" alt=""/>{{ClickCount}}</div>
								</th>
								<th style="width: 33%;">
									<div v-if="isLike" style="color: #999999;padding-top: 5px;float: right;padding-right: 10px;"><img v-on:click="GoLike()" style="margin-right: 3px;" class="am-header-icon-custom" src="~/Images/icon/已点赞.png" alt=""/>赞（{{likeCount}}）</div>
									<div v-if="!isLike" style="color: #999999;padding-top: 5px;float: right;padding-right: 10px;"><img v-on:click="GoLike()" style="margin-right: 3px;" class="am-header-icon-custom" src="~/Images/icon/未点赞.png" alt=""/>赞（{{likeCount}}）</div>
								</th>
							</tr>
	            		</table>
	            	</div>
	            	<div style="width: 100%;height: 15px;background: #E0E0E0;"></div>-->
	            	<div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin: 0px;">
						  <ul class="am-tabs-nav am-cf" >
						      <li class="am-active" ><a style=" text-decoration: none;" href="[data-tab-panel-0]">课程信息</a></li>
						      <li  ><a style=" text-decoration: none;" href="[data-tab-panel-1]">课程大纲</a></li>
						  </ul>
						  <div class="am-tabs-bd" style="border: hidden;">
						      <div data-tab-panel-0 class="am-tab-panel am-active" style="overflow-y: auto;">
						        	<div  id="contentData">
                        			</div>
						      </div>
						      <div data-tab-panel-1 class="am-tab-panel " style="overflow-y: auto;">
						        <ul v-for="item in capData" style="margin-bottom: -1px;padding-left: 0px;">
								    <li><img class="am-header-icon-custom" style="height: 50px;" src="~/Images/icon/line_b.png" alt=""/><span style="margin-left: 10px;" v-on:click="changeVideo(item)">{{item.ChapterTitle}}</span></li>
								</ul>
						      </div>
						  </div>
					</div>
					<header class="am-topbar  am-topbar-fixed-bottom" style="height: 40px;">
						<div class="div-inline" v-if="status!=2" v-on:click="GoStudy(form.ClassPrice)" style="margin-left: 150px;margin-top: 7px;width: 19%;border-radius:55px;color: white;font-size: 15px;height: 35px;background-color: #ff8a00;"  >
							立即学习
						</div>	
									
					</header>
					<!--<div v-if="form.IsHelp=='1'" role="alert" class="el-notification right" style="top: 116px;z-index: 2000;width: 60px;border-radius:100px;background-color: #ff8a00;height: 60px;" v-on:click="GoHelp()">
						<div class="el-notification__group" style="margin-left: 5px;margin-top: 5px;">
							<div class="el-notification__title" style="font-size: 1px;color: white;width: 30px;height: 12px;" >助力</div>
						</div>
					</div>-->
	            </div>
	        </fieldset>
	    </form>  	
        
		
  	</div>
  	



	
</body>


<script>
	var openid = '@ViewBag.Openid';
	var classid='@ViewBag.ClassId';
	var status='@ViewBag.OrderStatus';
	var videoVue=new Vue({
		el:"#myVideo",
		data:{
			currVideoUrl:"",
			imgUrl:'',
		}
	});
	var detailVue=new Vue({
		el:"#detail",
		data:{
			capData:[],	
			form:{}
		},
		created: function () {
                this.Query();
               
         },
         methods:{
         	Query:function () {  
			    var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxClass/GetClassByKey?pGuid=" + guid(),
                    data: {
                        classid:classid
                    },
                    success: function (result) { 
                        _self.form=result; 
                        videoVue.imgUrl=result.ClassImages;
                        $('#contentData').html("<div class='default-content'>" + result.ClassContent + "</div>");
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                }); 
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxClass/GetChaptersByClassKey?pGuid=" + guid(),
                    data: {
                        classid:classid
                    },
                    success: function (result) { 
                        _self.capData = result; 
                        if(result.length!=0)
                       	{
                       		videoVue.currVideoUrl=result[0].VideoUrl;
                       	}
                        
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                });  
			},
			changeVideo:function(item){
				if(status==2)
				{
					videoVue.currVideoUrl=item.VideoUrl;
				}
				
			},
			GoStudy:function(price)
			{
				var _self = this;	
				var param={
					classids:"",
					openid:openid,
					source:"1",
					price:price
				}
				
				param.classids=classid+"|";
				
				$.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/WxOrder/AddOrder?pGuid=" + guid(),
                    data:param,
                    success: function (result) {                    	
                    	window.location.href = result;
                    },
                    error: function (json) {
                        
                    }
                });
			},
			
			
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
	
	function GoHome()
	 {
	 	window.location.href = "/WxHome/Index?openid="+openid+"&&code=null&&state=null";
	 }
	
</script>
