
@{
     ViewBag.Title = "精品课程";
}


<style>
.am-btn-this
{
	display:inline-block;
	margin-bottom:0;
	/*padding:.5em 1em;*/
	vertical-align:middle;
	font-size:0.6rem;
	font-weight:400;
	text-align:center;
	white-space:nowrap;
	background-image:none;
	border:1px solid transparent;
	border-radius:0;
	cursor:pointer;
	outline:0;
	-webkit-appearance:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-transition:background-color .3s ease-out,border-color .3s ease-out;transition:background-color .3s ease-out,border-color .3s ease-out;
}
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>精品课程</title>
</head>
<body>
  	<header data-am-widget="header" class="am-header am-header-default" style="background-color: white;">
	  <div class="am-header-left am-header-nav">
		    <a href="javascript:window.history.back(); " class="">
		  	<img class="am-header-icon-custom" src="~/Images/icon/返回.png" alt=""/>
		  </a>
	  </div>
	    <h3 class="am-header-title" 
	   	style="width:150px;float:left;color: black;padding-top: 15px;font-size: 18px;margin-right: 0px;">
          专家访谈
      </h3>
      <div class="am-input-group">	
	      <span class="am-input-group-btn" >
	      	<button class="am-btn" type="button" onclick="GoHome()" 
	        	style="background-color: white;border-color:white;margin-left: 45px;">
	        	<div><img class="am-header-icon-custom" src="~/Images/icon/主页.png" style="height: 20px;" alt=""/></div>
	        </button>
	        
	      </span>
	    </div>
	</header>
  	<hr style="margin-top: 0px;"/>
  	<div id="myClass">
  		<div class="am-u-lg-6" style="float: none;padding-right: 0px;padding-left: 0px;">
	    	<div class="am-btn-group" style="width: 100%;" >
	    	  
			  <div class="am-dropdown" style="width: 33%;" data-am-dropdown >
			    <button class="am-btn am-btn-secondary am-dropdown-toggle" style="width:100%;color: #999999;background-color: white;border-color: #999999;" data-am-dropdown-toggle> 
			    	全部<span style="float: right;" class="am-icon-angle-down"></span>
			    </button>
			    <ul class="am-dropdown-content">
			      <li><a href="#">快乐的方式不只一种</a></li>
			    </ul>
			  </div>
			  
			  <div class="am-dropdown" style="width: 33%;" data-am-dropdown>
			    <button class="am-btn am-btn-secondary am-dropdown-toggle" style="width:100%;color: #999999;background-color: white;border-color: #999999;" data-am-dropdown-toggle> 
			    	排序<span  style="float: right;" class="am-icon-angle-down"></span>
			    </button>
			    <ul class="am-dropdown-content">
			      <li><a href="#">快乐的方式不只一种</a></li>
			    </ul>
			  </div>
			  
			  <div class="am-dropdown" style="width: 34%;" data-am-dropdown>
			    <button class="am-btn am-btn-secondary am-dropdown-toggle" style="width:100%;color: #999999;background-color: white;border-color: #999999;" data-am-dropdown-toggle> 
			    	搜索<span  style="float: right;" class="am-icon-search"></span>
			    </button>
			    <ul class="am-dropdown-content">
			      <li class="am-dropdown-header">标题</li>
			      <li><a href="#">快乐的方式不只一种</a></li>
			    </ul>
			  </div>	 
				    	
		    </div>
	  	</div>  	
        <div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin-left:0px;margin-right:0px;">		
			  <div class="am-list-news-bd">
				  <ul class="am-list" v-for="item in myClassList">
				     <!--缩略图在标题左边-->
				      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" 
				      	style="padding-top: 5px;padding-bottom: 5px;height: 90px;">
				        <div class="am-u-sm-4 am-list-thumb" style="width: 49%;height: 100%;padding-right: 0px;">
				        	<img :src="item.ClassImages"/>
				        </div>
						<table class=" am-u-sm-8 am-list-main" style="width: 49%;height: 100%;position:relative;" v-on:click="GoDetail(item.ClassId)">
							<tr>
								<td colspan="2">
									<div style="color: #444444;"><b>{{item.ClassName}}</b></div>									
								</td>
								
							</tr>
							<tr>
								<td colspan="2">
									<div style="color: #999999;">{{item.ClassAbstract}}</div>									
								</td>
								
							</tr>
							<tr>
								<td style="width: 50%;">
									<div style="color: red;">¥{{item.ClassPrice}}</div>
								</td>
								<td>
									<div style="font-size: 5px;color:#0084C7">{{item.ClassTeacher}}</div>
								</td>
								
							</tr>
						</table>				        
				      </li>  
				    </ul>
			  </div>
		</div>
  	</div>
  	
</body>


<script>
	var openid = '@ViewBag.Openid';
	var myClassVue=new Vue({
		el:"#myClass",
		data:{
			myClassList:[],
			txtTitle:"",
		},
		created: function () {
                this.Query()
         },
         methods:{
         	Query:function () {  
			    var _self = this;
                var title = this.txtTitle;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxClass/GetClassByCondition?pGuid=" + guid(),
                    data:{
                    	name:null,
                    	classType:"3",
                    	startDate:null,
                    	endDate:null                    	
                    },
                    success: function (result) {                       
                        _self.myClassList = result;
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                });
			},
			GoDetail:function(classId){	
				var type="1";
				var id=classId;
				$.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/WxBase/ClickLog?pGuid=" + guid(),
                    data: {
                    	obType:type,
						id:id,
						openid:openid
                    },
                    success: function (result) {
                    },
                    error: function (json) {
                        
                    }
                });
				window.location.href = "ExpertViewDetail?openid=" + openid+"&&classId="+id;
			}
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
	
</script>
