@{
    ViewBag.Title = "推广管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="wz">
        您当前所在的位置：砍价规则
</div>
<div id="tabs" style="margin: 10px;">
    <el-tabs v-model="activeName" type="border-card">
        <el-tab-pane label="砍价规则" name="BargainConfig">
 			<el-row style="margin-top:10px;margin-left:10px">
		        <el-col span="24">
		            <div>
		                <el-input v-model="BargainName" id="BargainName" placeholder="请输入课程名称" clearable 						style="width:200px;"></el-input>
		                <el-button size="mini" style="margin-left:10px" type="primary"
		                           v-on:click="QueryBargainData()">查询</el-button>
		                <el-button size="mini" type="warning"
		                           v-on:click="handleBargainAdd()">新增</el-button>
		            </div>
		        </el-col>
		    </el-row>

		    <div style="margin-top:5px">
		        <template>
		            <el-table border stripe
v-bind:data="BargainData.slice((BargaincurrentPage-1)*Bargainpagesize,BargaincurrentPage*Bargainpagesize)"
		                      v-bind:default-sort="{prop: 'CreateTime', order: 'descending'}"
		                      style="width: 100%">
		                <el-table-column prop="ClassName"
		                                 label="课程名称">
		                </el-table-column>
		
		                <el-table-column prop="FloorPrice"
		                                 label="底价">
		                </el-table-column>
		                <el-table-column prop="BargainTop"
		                                 label="砍价上限">
		                </el-table-column>
		                <el-table-column prop="BargainFloor"
		                                 label="砍价下限">
		                </el-table-column>
		                <el-table-column fixed="right"
		                                 label="操作"
		                                 width="auto" header-align="center" align="center">
		                    <template slot-scope="scope">
		
		                        <el-button size="mini"
		                                   v-on:click="handleBargainEdit(scope.row.BargainConfigId)">编辑</el-button>
		                        <el-button v-if="scope.row.Status==1" size="mini"
		                                   type="danger"
		                                   v-on:click="handleBargainDisable(scope.row.BargainConfigId,0)">禁用</el-button>
		                    </template>
		                </el-table-column>
		            </el-table> 
		            <el-pagination 
		            				v-on:size-change="handleBargainSizeChange"
									v-on:current-change="handleBargainCurrentChange"
								    :current-page="BargaincurrentPage"
								    :page-sizes="[10, 20, 50, 100]"
								    :page-size="Bargainpagesize"
								    layout="total, prev, pager, next"
								    :total="BargainData.length">
		            </el-pagination>
		        </template>
		
		    </div>

		    <el-dialog title="砍价规则" v-bind:visible.sync="dialogBargainFormVisible" v-model="dialogBargainFormVisible" 			style="height:500px;">
		        <el-form model="Bargainform" style="margin-top:-20px;height:auto" label-width="80px">
		            <el-row>
		                <el-col span="12" style="display: none;">
		                    <el-form-item label="Id">
		                        <el-input v-model="Bargainform.BargainConfigId" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="底  价">
		                        <el-input v-model="Bargainform.FloorPrice" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="砍价上限">
		                        <el-input v-model="Bargainform.BargainTop" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>                
		                <el-col span="12">
		                    <el-form-item label="砍价下限">
		                        <el-input v-model="Bargainform.BargainFloor" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="所属课程">
		                        <el-select v-model="Bargainform.ClassId" placeholder="请选择课程" 								style="width:220px;">
		                            <el-option v-for="item in ClassData"
		                                       v-bind:key="item.ClassId"
		                                       v-bind:label="item.ClassName"
		                                       v-bind:value="item.ClassId">
		                            </el-option>
		                        </el-select>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="开始时间">
		                    	<el-date-picker
							      v-model="Bargainform.StartTime"
							      type="datetime"
							      format="yyyy-MM-dd HH:mm:ss"
							      value-format="yyyy-MM-dd HH:mm:ss">
							    </el-date-picker>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="截止时间">
		                    	<el-date-picker
							      v-model="Bargainform.EndTime"
							      type="datetime"
							      format="yyyy-MM-dd HH:mm:ss"
							      value-format="yyyy-MM-dd HH:mm:ss">
							    </el-date-picker>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="备  注">
		                        <el-input v-model="Bargainform.Remark" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		            </el-row>
		        </el-form>
		        <div slot="footer" class="dialog-footer" style="margin-top:-30px;">
		            <el-button size="small" v-on:click="dialogBargainFormVisible = false">取 消</el-button>
		            <el-button type="primary" size="small" v-on:click="SaveBargain(Bargainform)">确 定</el-button>
		        </div>
		    </el-dialog>          
        </el-tab-pane>

    </el-tabs>
</div>

<script>
	var tabVue=new Vue({
		el:"#tabs",
		data: {
				activeName:'BargainConfig',
				ClassData: [],
				
                BargainData: [],                
                BargainName: "",
                dialogBargainFormVisible: false,
                Bargainform: {},
                BargaincurrentPage:1,
        		Bargainpagesize:8,
        		
        		
            },
            beforeCreate: function () {
                var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Class/GetAllClass",
                    success: function (result) {
                        _self.ClassData = result;
                    }
                });
            },
            created: function () {
                this.QueryBargainData();
            },
            methods: {
            	 dateFormat: function (row, column) {
                    var date = row[column.property];
                    if (date == undefined) {
                        return "";
                    }
                    return new Date(parseInt(date.substr(6, 13))).toLocaleDateString();
                    //return moment(date).format("YYYY-MM-DD HH:mm:ss");
                    //return new Date(parseInt(date.substr(6, 13))).toLocaleDateString();
                },
                ChangeDateFormat:function(timeSpan) {
				    var timeSpan = timeSpan.replace('Date','').replace('(','').replace(')','').replace(/\//g,'');
				    var d = new Date(parseInt(timeSpan));
				    return d;
				},
				GetNeedDateFormat:function(datetime){
					var d = new Date(datetime);  
					return d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + 					':' + d.getMinutes() + ':' + d.getSeconds(); 
				},
            	
                handleBargainAdd: function () {
                    var _self = this;
                    _self.Bargainform = {};
                    this.dialogBargainFormVisible = true;
                },
                handleBargainEdit: function (Id) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetBargainConfigByKey?pGuid=" + guid(),
                        data: {
                            id: Id
                        },
                        success: function (result) {
                            _self.Bargainform = result;
                        }
                    });
                    this.dialogBargainFormVisible = true;
                },
                QueryBargainData: function () {
                    var _self = this;
                    var className = this.BargainName;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetBargainConfigsByCondition?pGuid=" + guid(),
                        data: {
                            className: className
                        },
                        success: function (result) {
                            _self.BargainData = result;
                        },
                        error: function (json) {
                            _self.$message.error('查询砍价配置失败');
                        }
                    });
                },
                SaveBargain: function (Bargain) {
                    var _self = this;
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/BaseSet/SaveBargainConfig",
                        data: Bargain,
                        success: function (result) {
                            if (result) {
                                _self.dialogBargainFormVisible = false;
                                _self.QueryBargainData();
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存砍价配置息失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存砍价配置失败');
                        }
                    });
                },
                handleBargainDisable: function (Id, status) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/BaseSet/EnableBargainConfig",
                        data: {
                            Id: Id,
                            status: status
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                _self.QueryBargainData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },                
                handleBargainSizeChange: function (size) {
			        this.Bargainpagesize = size;
			    },
			    handleBargainCurrentChange: function(currentPage){
			        this.BargaincurrentPage = currentPage;
			    },
            }

        });
    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
</script>