@{
    ViewBag.Title = "推广管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="wz">
        您当前所在的位置：团购规则
</div>
<div id="tabs" style="margin: 10px;">
    <el-tabs v-model="activeName" type="border-card">
    
       <el-tab-pane label="团购规则" name="GroupBuyConfig">           
			<el-row style="margin-top:10px;margin-left:10px">
		        <el-col span="24">
		            <div>
		                <el-input v-model="GroupBuyName" id="GroupBuyName" placeholder="请输入课程名称" clearable 						style="width:200px;"></el-input>
		                <el-button size="mini" style="margin-left:10px" type="primary"
		                           v-on:click="QueryGroupBuyData()">查询</el-button>
		                <el-button size="mini" type="warning"
		                           v-on:click="handleGroupBuyAdd()">新增</el-button>
		            </div>
		        </el-col>
		    </el-row>

		    <div style="margin-top:5px">
		        <template>
		            <el-table border stripe
v-bind:data="GroupBuyData.slice((GroupBuycurrentPage-1)*GroupBuypagesize,GroupBuycurrentPage*GroupBuypagesize)"
		                      v-bind:default-sort="{prop: 'CreateTime', order: 'descending'}"
		                      style="width: 100%">
		                <el-table-column prop="ClassName"
		                                 label="课程名称">
		                </el-table-column>
		
		                <el-table-column prop="GroupPrice"
		                                 label="团购价">
		                </el-table-column>
		                <el-table-column prop="NeedCount"
		                                 label="成团人数">
		                </el-table-column>
		                <el-table-column prop="StartTime"
		                                 label="开始时间"
		                                 :formatter="dateFormat">
		                </el-table-column>
		                <el-table-column prop="EndTime"
		                                 label="截止时间"
		                                 :formatter="dateFormat">
		                </el-table-column>
		                <el-table-column fixed="right"
		                                 label="操作"
		                                 width="auto" header-align="center" align="center">
		                    <template slot-scope="scope">
		
		                        <el-button size="mini"
		                                   v-on:click="handleGroupBuyEdit(scope.row.GroupBuyConfigId)">编辑</el-button>
		                        <el-button v-if="scope.row.Status==1" size="mini"
		                                   type="danger"
		                                   v-on:click="handleGroupBuyDisable(scope.row.GroupBuyConfigId,0)">禁用</el-button>
		                    </template>
		                </el-table-column>
		            </el-table> 
		            <el-pagination 
		            				v-on:size-change="handleGroupBuySizeChange"
									v-on:current-change="handleGroupBuyCurrentChange"
								    :current-page="GroupBuycurrentPage"
								    :page-sizes="[10, 20, 50, 100]"
								    :page-size="GroupBuypagesize"
								    layout="total, prev, pager, next"
								    :total="GroupBuyData.length">
		            </el-pagination>
		        </template>
		
		    </div>

		    <el-dialog title="团购规则" v-bind:visible.sync="dialogGroupBuyFormVisible" v-model="dialogGroupBuyFormVisible" 			style="height:500px;">
		        <el-form model="GroupBuyform" style="margin-top:-20px;height:auto" label-width="80px">
		            <el-row>
		                <el-col span="12" style="display: none;">
		                    <el-form-item label="Id">
		                        <el-input v-model="GroupBuyform.GroupBuyConfigId" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="团购价 ">
		                        <el-input v-model="GroupBuyform.GroupPrice" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="成团人数">
		                        <el-input v-model="GroupBuyform.NeedCount" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>                
		                <el-col span="12">
		                    <el-form-item label="开始时间">
		                    	<el-date-picker
							      v-model="GroupBuyform.StartTime"
							      type="datetime"
							      format="yyyy-MM-dd HH:mm:ss"
							      value-format="yyyy-MM-dd HH:mm:ss">
							    </el-date-picker>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="截止时间">
		                    	<el-date-picker
							      v-model="GroupBuyform.EndTime"
							      type="datetime"
							      format="yyyy-MM-dd HH:mm:ss"
							      value-format="yyyy-MM-dd HH:mm:ss">
							    </el-date-picker>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="所属课程">
		                        <el-select v-model="GroupBuyform.ClassId" placeholder="请选择课程" style="width:220px;">
		                            <el-option v-for="item in ClassData"
		                                       v-bind:key="item.ClassId"
		                                       v-bind:label="item.ClassName"
		                                       v-bind:value="item.ClassId">
		                            </el-option>
		                        </el-select>
		                    </el-form-item>
		                </el-col>
		                <el-col span="12">
		                    <el-form-item label="备  注">
		                        <el-input v-model="GroupBuyform.Remark" style="width:220px;" clearable></el-input>
		                    </el-form-item>
		                </el-col>
		            </el-row>
		        </el-form>
		        <div slot="footer" class="dialog-footer" style="margin-top:-30px;">
		            <el-button size="small" v-on:click="dialogGroupBuyFormVisible = false">取 消</el-button>
		            <el-button type="primary" size="small" v-on:click="SaveGroupBuy(GroupBuyform)">确 定</el-button>
		        </div>
		    </el-dialog>   

        </el-tab-pane>
    
    </el-tabs>
</div>

<script>
	var tabVue=new Vue({
		el:"#tabs",
		data: {
				activeName:'GroupBuyConfig',
				ClassData: [],
				
              
        		
        		GroupBuyData: [],                
                GroupBuyName: "",
                dialogGroupBuyFormVisible: false,
                GroupBuyform: {},
                GroupBuycurrentPage:1,
        		GroupBuypagesize:8,
        		
        		
            },
            beforeCreate: function () {
                var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Class/GetAllClass",
                    success: function (result) {
                        _self.ClassData = result;
                    }
                });
            },
            created: function () {
                this.QueryGroupBuyData();
            },
            methods: {
            	 dateFormat: function (row, column) {
                    var date = row[column.property];
                    if (date == undefined) {
                        return "";
                    }
                    return new Date(parseInt(date.substr(6, 13))).toLocaleDateString();
                    //return moment(date).format("YYYY-MM-DD HH:mm:ss");
                    //return new Date(parseInt(date.substr(6, 13))).toLocaleDateString();
                },
                ChangeDateFormat:function(timeSpan) {
				    var timeSpan = timeSpan.replace('Date','').replace('(','').replace(')','').replace(/\//g,'');
				    var d = new Date(parseInt(timeSpan));
				    return d;
				},
				GetNeedDateFormat:function(datetime){
					var d = new Date(datetime);  
					return d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + 					':' + d.getMinutes() + ':' + d.getSeconds(); 
				},
            	
                handleGroupBuyAdd: function () {
                    var _self = this;
                    _self.GroupBuyform = {};
                    this.dialogGroupBuyFormVisible = true;
                },
               	handleGroupBuyEdit: function (Id) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetGroupBuyConfigByKey?pGuid=" + guid(),
                        data: {
                            id: Id
                        },
                        success: function (result) {
                        	result.StartTime = _self.ChangeDateFormat(result.StartTime);
                        	result.EndTime = _self.ChangeDateFormat(result.EndTime);
                            _self.GroupBuyform = result;
                        }
                    });
                    this.dialogGroupBuyFormVisible = true;
                },
                QueryGroupBuyData: function () {
                    var _self = this;
                    var className = this.GroupBuyName;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetGroupBuyConfigsByCondition?pGuid=" + guid(),
                        data: {
                            className: className
                        },
                        success: function (result) {
                            _self.GroupBuyData = result;
                        },
                        error: function (json) {
                            _self.$message.error('查询团购配置失败');
                        }
                    });
                },
                SaveGroupBuy: function (GroupBuy) {
                    var _self = this;
                    GroupBuy.StartTime= _self.GetNeedDateFormat(GroupBuy.StartTime);
                    GroupBuy.EndTime= _self.GetNeedDateFormat(GroupBuy.EndTime);
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/BaseSet/SaveGroupBuyConfig",
                        data: GroupBuy,
                        success: function (result) {
                            if (result) {
                                _self.dialogGroupBuyFormVisible = false;
                                _self.QueryGroupBuyData();
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存团购配置息失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存团购配置失败');
                        }
                    });
                },
                handleGroupBuyDisable: function (Id, status) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/BaseSet/EnableGroupBuyConfig",
                        data: {
                            Id: Id,
                            status: status
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                _self.QueryGroupBuyData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },                
                handleGroupBuySizeChange: function (size) {
			        this.GroupBuypagesize = size;
			    },
			    handleGroupBuyCurrentChange: function(currentPage){
			        this.GroupBuycurrentPage = currentPage;
			    },
            
            	
            
            
            }

        });
    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
</script>