@{
    ViewBag.Title = "招聘信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<div class="wz">
        您当前所在的位置：招聘信息
</div>
<div id="job">
    <el-row style="margin-top:10px;margin-left:10px">
        <el-col span="24">
            <div>
                <el-input v-model="txtName" id="txtName" placeholder="请输入职位标题" clearable style="width:200px;"></el-input>
                <el-button size="mini" style="margin-left:10px" type="primary"
                           v-on:click="QueryData()">查询</el-button>
                <el-button size="mini" type="warning"
                           v-on:click="handleAdd()">新增</el-button>
            </div>
        </el-col>
    </el-row>

    <div style="margin-top:5px">
        <template>
            <el-table border stripe
                      v-bind:data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                      v-bind:default-sort="{prop: 'JobTitle', order: 'descending'}"
                      style="width: 100%">
                <el-table-column prop="JobTitle"
                                 label="职位标题">
                </el-table-column>

                <el-table-column prop="JobSalary"
                                 label="职位薪资">
                </el-table-column>
                <el-table-column prop="JobYear"
                                 label="工龄要求">
                </el-table-column>
                <el-table-column prop="JobEducation"
                                 label="学历要求">
                </el-table-column>
                <el-table-column prop="JobCompany"
                                 label="所属公司">
                </el-table-column>
                <el-table-column fixed="right"
                                 label="操作"
                                 width="auto" header-align="center" align="center">
                    <template slot-scope="scope">

                        <el-button size="mini"
                                   v-on:click="handleEdit(scope.row.JobId)">编辑</el-button>
                        <el-button v-if="scope.row.Status==1" size="mini"
                                   type="danger"
                                   v-on:click="handleDisable(scope.row.JobId,0)">下架</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination 
            				v-on:size-change="handleSizeChange"
							v-on:current-change="handleCurrentChange"
						    :current-page="currentPage"
						    :page-sizes="[10, 20, 50, 100]"
						    :page-size="pagesize"
						    layout="total, prev, pager, next"
						    :total="tableData.length">
            </el-pagination>
        </template>

    </div>

    <el-dialog title="招聘信息" v-bind:visible.sync="dialogjobFormVisible" v-model="dialogjobFormVisible" style="height:600px;">
        <el-form model="form" style="margin-top:-20px;height:auto" label-width="80px">
            <el-row>
                <el-col span="12" style="display: none;">
                    <el-form-item label="Id">
                        <el-input v-model="form.JobId" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="职位标题">
                        <el-input v-model="form.JobTitle" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="职位薪资">
                        <el-input v-model="form.JobSalary" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="工龄要求">
                        <el-input v-model="form.JobYear" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="学历要求">
                        <el-input v-model="form.JobEducation" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="职位描述">
                        <el-input type="textarea" v-model="form.JobDesc" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="任职要求">
                        <el-input type="textarea"  v-model="form.JobRequirements" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="所属公司">
                        <el-input v-model="form.JobCompany" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="联系方式">
                        <el-input v-model="form.JobEmail" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="备  注">
                        <el-input v-model="form.Remark" style="width: 540px;" clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top:-30px;">
            <el-button size="small" v-on:click="dialogjobFormVisible = false">取 消</el-button>
            <el-button type="primary" size="small" v-on:click="Savejob(form)">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    var jobVue;
    $(function () {
        NProgress.done();
        jobVue = new Vue({
            el: "#job",
            data: {
                tableData: [],
                txtName:"",
                dialogjobFormVisible: false,
                form: {},
                currentPage:1,
        		pagesize:8,
            },
            created: function () {
                this.QueryData();
            },
            methods: {
                handleAdd: function () {
                    var _self = this;
                    _self.form = {};
                    this.dialogjobFormVisible = true;
                },
                handleEdit: function (jobId) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetJobInfoByKey?pGuid=" + guid(),
                        data: {
                            jobId: jobId
                        },
                        success: function (result) {
                            _self.form = result;
                        }
                    });
                    this.dialogjobFormVisible = true;
                },
                QueryData: function () {
                    var _self = this;
                    var title = this.txtName;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/BaseSet/GetJobListByCondition?pGuid=" + guid(),
                        data: {
                            title: title
                        },
                        success: function (result) {
                            jobVue.tableData = result;
                        },
                        error: function (json) {
                            _self.$message.error('加载用户信息失败');
                        }
                    });
                },
                Savejob: function (job) {
                    var _self = this;
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/BaseSet/SaveJobInfo",
                        data: job,
                        success: function (result) {
                            if (result) {
                                _self.dialogjobFormVisible = false;
                                _self.QueryData();
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存招聘信息失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存招聘信息失败');
                        }
                    });
                },
                handleDisable: function (jobId, status) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/BaseSet/Enablejob",
                        data: {
                            jobId: jobId,
                            status: status
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                _self.QueryData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },
                handleSizeChange: function (size) {
			        this.pagesize = size;
			    },
			    handleCurrentChange: function(currentPage){
			        this.currentPage = currentPage;
			    }
            }

        });
    })

    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }


</script>