@{
    ViewBag.Title = "Role";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="wz">
        您当前所在的位置：角色管理
</div>
<div id="Role">
	<el-container>
	  <el-aside width="500px" style="margin-top:10px;margin-left:10px">
	  	    <template>
	  	    	<el-col span="24">
		            <div>
		                <el-button size="mini" type="warning"
		                v-on:click="handleAdd()">新增角色</el-button>
		            </div>
		        </el-col>
	            <el-table border stripe
	            		  v-bind:data="RoleList"
	                      highlight-current-row
	                      v-on:row-click="handleCurrentChange"
	                      v-bind:default-sort="{prop: 'Role_Name', order: 'descending'}"
	                      style="width: 100%;margin-top: 50px;">
	                <el-table-column prop="Role_Id"
	                                 label="角色Id"
	                                 width="130"
	                                 v-if="false">
	                </el-table-column>   
	                <el-table-column prop="Role_Name"
	                                 label="角色姓名"
	                                 width="130">
	                </el-table-column>               
	                <el-table-column typeof="selection"
	                                 label="是否启用"
	                                 width="90" align="center">
	                    <template slot-scope="scope">
	                        <el-switch v-model="scope.row.Status==1?true:false"
	                                   active-color="#13ce66"
	                                   inactive-color="#ff4949"
	                                   disabled>
	
	                        </el-switch>
	                    </template>
	                </el-table-column>
	                <el-table-column fixed="right"
	                                 label="操作"
	                                 width="auto" header-align="center" align="center">
	                    <template slot-scope="scope">                    	
	                        
	                        <el-button size="mini"
	                                   v-on:click="handleEdit(scope.row.Role_Id)">编辑</el-button>
	                        <el-button v-if="scope.row.Status==1" size="mini"
	                                   type="danger"
	                                   v-on:click="handleDisable(scope.row.Role_Id,0)">禁用</el-button>
	                    </template>
	                </el-table-column>
	            </el-table>	             
	        </template>   
	  </el-aside style="margin-top:10px;margin-left:10px">
	  
	  <el-main>
	  	<div>
            <el-button size="mini" type="warning"
            v-on:click="SaveRoleMenu()">保存权限</el-button>
        </div>
	  	<p>菜单列表</p>
	  	<el-tree
	  		ref="tree"
			:data="MenuList"
			show-checkbox
			node-key="MenuId"
			:props="defaultProps">
		</el-tree>
	  </el-main>
	</el-container>
	
	<el-dialog title="角色信息" v-bind:visible.sync="dialogUserFormVisible" v-model="dialogUserFormVisible" 	style="height:500px;">
        <el-form model="form" style="margin-top:-20px;height:auto" label-width="80px">
            <el-row>
            	<el-col span="12" style="display: none;">
                    <el-form-item label="Id">
                        <el-input v-model="form.Role_Id" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="角色名称">
                        <el-input v-model="form.Role_Name" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>                    
            </el-row> 
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top:-30px;">
            <el-button size="small" v-on:click="dialogUserFormVisible = false">取 消</el-button>
            <el-button type="primary" size="small" v-on:click="SaveRole(form)">确 定</el-button>
        </div>
    </el-dialog>
</div>
<script>
	 var RoleVue=new Vue({
	 	el:"#Role",
	 	data:{
	 		RoleList:[],
	 		MenuList:[],
	 		defaultProps: 
	 		{
	          children: 'SubMenus',
	          label: 'MenuName'
	       },
	       currentRow: null,
	       chekcMenu:[],
	       dialogUserFormVisible: false,
           form: {},
           checkroleId:null,
	 	},
	 	created:function (){
	 		this.QueryData();
	 		this.LoadMenu();
	 	},
	 	methods:{
	 		QueryData: function () {
                    var _self = this;
                    $.ajax({
	                    type: "get",
	                    dataType: "json",
	                    contentType: "application/json",
	                    url: "/Auth/GetRoles",
	                    success: function (result) {
	                        _self.RoleList = result;
	                    }
                	});
                },
            LoadMenu:function(){
            	var _self = this;
                    $.ajax({
	                    type: "get",
	                    dataType: "json",
	                    contentType: "application/json",
	                    url: "/Auth/GetMenu",
	                    success: function (result) {
	                        _self.MenuList = result;
	                    }
                	});
            },
            handleCurrentChange:function(val){
            	this.checkroleId=val.Role_Id;
            	var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Auth/GetMenusByRoleId",
                    data:{RoleId:val.Role_Id},
                    success: function (result) {
                        _self.$refs.tree.setCheckedKeys(result);
                    }
            	});
            },
	 		handleAdd:function(){
 				var _self = this;
            	_self.form={};
            	this.dialogUserFormVisible = true;
	 		},
            handleEdit: function (roleId) {
                var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Auth/GetRoleByKey?pGuid=" + guid(),
                    data: {
                        roleId: roleId
                    },
                    success: function (result) {
                        _self.form = result;
                    }
                });
                this.dialogUserFormVisible = true;
            },
            SaveRole: function (role) {
                    var _self = this;
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/Auth/SaveRole",
                        data:role,
                        success: function (result) {
                            if (result) {
                                _self.dialogUserFormVisible = false;
                                _self.QueryData();
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存角色信息失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存角色信息失败');
                        }
                    });
                },
                handleDisable: function (roleId, status) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/Auth/EnableRole",
                        data: {
                            roleId: this._self,
                            status: status
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                _self.QueryData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },
                SaveRoleMenu:function(){
                	var _self = this;
                	var menus=_self.$refs.tree.getCheckedKeys();
                	$.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/Auth/SaveRoleMenu",
                        data: {
                            roleId: this.checkroleId,
                            menus: JSON.stringify(menus)
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                //_self.QueryData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },
            }
	 })
	 
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
</script>
