
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<div class="wz">
        您当前所在的位置：用户管理
</div>
<div id="user">
    <el-row style="margin-top:10px;margin-left:10px">
        <el-col span="24">
            <div>
                <el-input v-model="txtName" id="txtName" placeholder="请输入登录名" clearable 				style="width:200px;"></el-input>
                <el-button size="mini" style="margin-left:10px" type="primary"
                           v-on:click="QueryData()">查询</el-button>
                <el-button size="mini" type="warning"
                                   v-on:click="handleAdd()">新增</el-button>
            </div>
        </el-col>
    </el-row>

    <div style="margin-top:5px">
        <template>
            <el-table border stripe
                      v-bind:data="tableData.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                      v-bind:default-sort="{prop: 'UserName', order: 'descending'}"
                      style="width: 100%">
                <el-table-column prop="UserName"
                                 label="用户姓名"
                                 width="130">
                </el-table-column>

                <el-table-column prop="LoginName"
                                 label="登录名称"
                                 width="130">
                </el-table-column>
                <el-table-column prop="Password"
                                 label="密码"
                                 width="130">
                </el-table-column>
                <el-table-column prop="RoleName"
                                 label="角色名称"
                                 width="130">
                </el-table-column>                
                <el-table-column typeof="selection"
                                 label="是否启用"
                                 width="90" align="center">
                    <template slot-scope="scope">
                        <el-switch v-model="scope.row.Status==1?true:false"
                                   active-color="#13ce66"
                                   inactive-color="#ff4949"
                                   disabled>

                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column fixed="right"
                                 label="操作"
                                 width="auto" header-align="center" align="center">
                    <template slot-scope="scope">                    	
                        
                        <el-button size="mini"
                                   v-on:click="handleEdit(scope.row.UserId)">编辑</el-button>
                        <el-button v-if="scope.row.Status==1" size="mini"
                                   type="danger"
                                   v-on:click="handleDisable(scope.row.UserId,0)">禁用</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination 
            				v-on:size-change="handleSizeChange"
							v-on:current-change="handleCurrentChange"
						    :current-page="currentPage"
						    :page-sizes="[10, 20, 50, 100]"
						    :page-size="pagesize"
						    layout="total, prev, pager, next"
						    :total="tableData.length">
            </el-pagination>
        </template>
   
    </div>

    <el-dialog title="用户信息" v-bind:visible.sync="dialogUserFormVisible" v-model="dialogUserFormVisible" 	style="height:500px;">
        <el-form model="form" style="margin-top:-20px;height:auto" label-width="80px">
            <el-row>
            	<el-col span="12" style="display: none;">
                    <el-form-item label="Id">
                        <el-input v-model="form.User_Id" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="用户名">
                        <el-input v-model="form.User_Name" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="登录名称">
                        <el-input v-model="form.Login_Name" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="密  码">
                        <el-input v-model="form.PassWord" style="width:220px;" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col span="12">
                    <el-form-item label="所属角色">
                        <el-select v-model="form.Role_Id" placeholder="请选择角色" style="width:220px;">
                            <el-option v-for="item in roleData"
                                       v-bind:key="item.Role_Id"
                                       v-bind:label="item.Role_Name"
                                       v-bind:value="item.Role_Id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>        
            </el-row> 
        </el-form>
        <div slot="footer" class="dialog-footer" style="margin-top:-30px;">
            <el-button size="small" v-on:click="dialogUserFormVisible = false">取 消</el-button>
            <el-button type="primary" size="small" v-on:click="SaveUser(form)">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script>
    var userVue;
    $(function () {
        NProgress.done();
        userVue = new Vue({
            el: "#user",
            data: {
                tableData: [],
                roleData: [],
                txtName: "",
                dialogUserFormVisible: false,
                form: {},
                currentPage:1,
        		pagesize:8,
            },
            beforeCreate: function () {
                var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Auth/GetRoles",
                    success: function (result) {
                        _self.roleData = result;
                    }
                });
            },
			created: function(){
				this.QueryData();
			},
            methods: {
            	handleAdd:function(){
                	var _self = this;
                	_self.form={};
                	this.dialogUserFormVisible = true;
                },
                handleEdit: function (userId) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/Auth/GetUserByKey?pGuid=" + guid(),
                        data: {
                            userId: userId
                        },
                        success: function (result) {
                            _self.form = result;
                        }
                    });
                    this.dialogUserFormVisible = true;
                },
                QueryData: function () {
                    var _self = this;
                    var userName = this.txtName;
                    var hospitalId = this.v1;
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/Auth/GetUserByCondition?pGuid=" + guid(),
                        data: {
                            userName: userName
                        },
                        success: function (result) {
                            userVue.tableData = result;
                        },
                        error: function (json) {
                            _self.$message.error('加载用户信息失败');
                        }
                    });
                },
                SaveUser: function (user) {
                    var _self = this;
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/Auth/SaveUser",
                        data:user,
                        success: function (result) {
                            if (result) {
                                _self.dialogUserFormVisible = false;
                                _self.QueryData();
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存用户信息失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存用户信息失败');
                        }
                    });
                },
                handleDisable: function (userId, status) {
                    var _self = this;
                    $.ajax({
                        type: "get",
                        dataType: "json",
                        url: "/Auth/EnableUser",
                        data: {
                            userId: userId,
                            status: status
                        },
                        success: function (result) {
                            if (result) {
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                                _self.QueryData();
                            } else {
                                _self.$message({
                                    type: 'info',
                                    message: '保存失败!'
                                });
                            }
                        }
                    });
                },
                handleSizeChange: function (size) {
			        this.pagesize = size;
			    },
			    handleCurrentChange: function(currentPage){
			        this.currentPage = currentPage;
			    }
            }

        });
    })

    function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }


</script>