@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="wz">
        您当前所在的位置：密码管理
</div>
<div id="password" style="margin-top:30px;margin-left:30px"	>
	<el-form model="form" >
        <el-form-item label="Id" style="display: none;">
            <el-input v-model="form.User_Id" style="width:220px;margin-left: 20px;" clearable></el-input>
        </el-form-item>
        <el-form-item label="登录名">
            <el-input v-model="form.Login_Name" disabled="true" style="width:220px;margin-left: 20px;" clearable></el-input>
        </el-form-item> 
        <el-form-item label="新密码">
            <el-input v-model="form.PassWord" style="width:220px;margin-left: 20px;" clearable></el-input>
        </el-form-item>
	</el-form>
	<div slot="footer" class="dialog-footer">
	    <el-button type="primary" size="small" v-on:click="SavePassword(form)">确 定</el-button>
	</div>
</div>
<script>
	var passwordVue=new Vue({
		el:"#password",
		data:{
			form:{}
		},
		beforeCreate: function () {
                var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/Auth/GetUserInfo",
                    success: function (result) {
                        _self.form = result;
                    }
                });
        },
        methods:{
        	SavePassword: function (psw) {
                    var _self = this;
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/Account/SavePassword",
                        data:psw,
                        success: function (result) {
                            if (result) {                                
                                _self.$message({
                                    type: 'success',
                                    message: '保存成功!'
                                });
                            } else {
                                _self.$message.error('保存密码失败');
                            }
                        },
                        error: function (json) {
                            _self.$message.error('保存密码失败');
                        }
                    });
                },
        }
		
	})
	
	  $(function () {
        NProgress.done();})
</script>

