
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div id="dialogApp">
    <el-dialog title="chemicalName" width="80%" append-to-body visible.sync="chemicalVisible" close-on-click-modal="false">
        <div>
            <div>
                <el-input v-model="keyword" placeholder="输入化学成分ID、化学成分中文名或英文名" style="width: 300px;"></el-input>
                <el-button type="primary" v-on:click="query">查询</el-button>
            </div>
            <div>
                <el-table border v-on:selection-change="handleSelectionChange" data="chemicalData">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column type="index" label="序号"></el-table-column>
                    <el-table-column prop="constituentId" label="化学成分ID"></el-table-column>
                    <el-table-column prop="constituentCnName" label="化学成分中文名"></el-table-column>
                    <el-table-column prop="constituentCnOtherName" label="化学成分中文别名"></el-table-column>
                    <el-table-column prop="constituentEnName" label="化学成分英文名"></el-table-column>
                    <el-table-column prop="constituentEnOtherName" label="化学成分英文别名"></el-table-column>
                    <el-table-column prop="parentNameSecond" label="化学成分二级父分类名称">
                    </el-table-column>
                </el-table>
            </div>
            <div>
                <el-button type="primary" v-on:click="childClick">确  定</el-button>
            </div>
        </div>
    </el-dialog>
</div>
<script>
    var dialogApp = new Vue({
        el: "#dialogApp",
        data: function () {
            return {
                chemicalName: '',
                chemicalVisible: false,
                keyword: '',
                selectsearchOptionId: [],
                chemicalData: [],
                searchOptions: [],
                cascaderProps: {
                    value: 'constituentId',
                    label: 'constituentCnName',
                    children: 'childList'
                },
                multipleSelection: []
            }
        },
    });
</script>
