@{
    ViewBag.Title = "课程详情";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" charset="utf-8" src="~/Scripts/utf8-asp/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/utf8-asp/ueditor.all.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="~/Scripts/utf8-asp/lang/zh-cn/zh-cn.js"></script>
<div class="wz">
        您当前所在的位置：课程详情
</div>
<div id="detail" style="height: 500px;overflow-y:scroll;">
	<el-form model="form" style="margin-top:20px;height:500px"  label-width="80px">
        <el-row>
            <el-col span="6" style="display: none;">
                <el-form-item label="Id">
                    <el-input v-model="form.ClassId" style="width:180px;" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="课程名称">
                    <el-input v-model="form.ClassName" style="width:180px;" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="课程简介">
                    <el-input v-model="form.ClassAbstract" style="width:180px;" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="课程类型">
                    <el-select v-model="form.ClassType" placeholder="请选择课程类型" style="width:180px;">
                        <el-option v-for="item in DicData"
                                   v-bind:key="item.ItemKey"
                                   v-bind:label="item.ItemValue"
                                   v-bind:value="item.ItemKey">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="课程价格">
                    <el-input v-model="form.ClassPrice" style="width:180px;" clearable></el-input>
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="课程讲师">
                    <el-input v-model="form.ClassTeacher" style="width:180px;" clearable></el-input>
                </el-form-item>
            </el-col>
            
            <el-col span="6">
                <el-form-item label="是否团购">                	
                	<el-switch v-model="form.IsGroupBuy"
                               active-color="#13ce66"
                               inactive-color="#ff4949"
                               active-value="1"
    						   inactive-value="0">
                    </el-switch>
                    <!--<el-input v-model="form.IsGroupBuy" style="width:180px;" clearable></el-input>-->
                </el-form-item>
            </el-col>
            <el-col span="6">
                <el-form-item label="是否砍价">
                	<el-switch v-model="form.IsBargain"
                               active-color="#13ce66"
                               inactive-color="#ff4949"
                               active-value="1"
    						   inactive-value="0">
                    </el-switch>
                    <!--<el-input v-model="form.IsBargain" style="width:180px;" clearable></el-input>-->
                </el-form-item>
            </el-col>
            
            <el-col span="6">
                <el-form-item label="是否助力">
                	<el-switch v-model="form.IsHelp"
                               active-color="#13ce66"
                               inactive-color="#ff4949"
                               active-value="1"
    						   inactive-value="0">
                    </el-switch>
                    <!--<el-input v-model="form.IsHelp" style="width:180px;" clearable></el-input>-->
                </el-form-item>
            </el-col>                
            <el-col span="12">
                <el-form-item label="备  注">
                    <el-input v-model="form.Remark" style="width: 750px;" clearable></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
        	<el-col >
        		 <el-form-item label="课程详情">
	                <div id="editor" type="text/plain" style="height:200px; width:99%; padding-top:40px">
	                </div>
	            </el-form-item>
        	</el-col>
        </el-row>       
        <el-row>
             <el-col >
                <el-form-item label="上传图片">
                    <el-upload class="upload-demo"
				               :action="uploadActionUrl"
				               :on-remove="handleRemove"
				               :file-list="fileList2"
				               show-file-list="true"
				               list-type="picture">
				        <el-button size="small" type="primary">点击上传</el-button>
				        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
				    </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <div slot="footer" class="dialog-footer" style="margin-top:-30px;margin-left:500px;">
        <el-button size="small" v-on:click="dialogClassFormVisible = false">取 消</el-button>
        <el-button type="primary" size="small" v-on:click="SaveClass(form)">确 定</el-button>
    </div>
</div>

<script>
	var ClassId = getQueryStringByName('id');
	
	detailVue=new Vue({
		el:"#detail",
		data:{
			form: {},
            uploadActionUrl:"/Class/ClassUpload",
            fileList2: [],
            DicData:[],
            editor: null
		},
        beforeCreate:function (){
        	var _self = this;
            $.ajax({
                type: "get",
                dataType: "json",
                contentType: "application/json",
                url: "/BaseSet/GetDicItemsByDicKey",
                data:{
                	key:"ClassKey"
                },
                success: function (result) {
                    _self.DicData = result;
                }
            });
        },
        created: function () {
        	var _self = this;
            if(ClassId!=null)
            {
            	_self.LoadData();
            }
            else
            {
            	_self.form= {};
            }
        },
        methods: {
        	LoadData:function(){
        		var _self = this;
	            $.ajax({
	                type: "get",
	                dataType: "json",
	                contentType: "application/json",
	                url: "/Class/GetClassByKey?pGuid=" + guid(),
	                data: {
	                    id: ClassId
	                },
	                success: function (result) { 
	                    _self.form = result;
	                    _self.editor = UE.getEditor('editor');
	                    _self.editor.addListener("ready", function () {
	                    _self.editor.setContent(_self.form.ClassContent); // 确保UE加载完成后，放入内容。
	                    });
	                }
	            });
	            $.ajax({
	                type: "get",
	                dataType: "json",
	                contentType: "application/json",
	                url: "/Class/GetClassImage?pGuid=" + guid(),
	                data: {
	                    id: ClassId
	                },
	                success: function (result) { 
	                    _self.fileList2 = result;
	                }
	            });
        	},
        	handleRemove:function(file, fileList){
                $.ajax({
                        type: "get",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/Class/ClassRemove",
                        success: function (result) {
                            //self.fileList2 = result;
                        }
                    });
           },
           SaveClass: function (classInfo) {
                var _self = this;
                var content = this.editor.getContent();
                classInfo.ClassContent= content;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/Class/SaveClass",
                    data: classInfo,
                    success: function (result) {
                        if (result) {
                            _self.$message({
                                type: 'success',
                                message: '保存成功!'
                            });
                            window.location.href = "Index";
                        } else {
                            _self.$message.error('保存课程信息失败');
                        }
                    },
                    error: function (json) {
                        _self.$message.error('保存课程信息失败');
                    }
                });
            },
        }
	})
	
	function getQueryStringByName(name) {
        var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
        if (result == null || result.length < 1) {
            return "";
        }
        return result[1];
    }
	 
	function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }

</script>