
@{
     ViewBag.Title = "线下活动2";
}


<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta charset="UTF-8" />
    <title>线下活动</title>
</head>
<body>
  	<header data-am-widget="header" class="am-header am-header-default" style="background-color: white;">
	  <div class="am-header-left am-header-nav">
		    <a href="javascript:window.history.back(); " class="">
		  	<img class="am-header-icon-custom" src="~/Images/icon/返回.png" alt=""/>
		  </a>
	  </div>
	  <h3 class="am-header-title" 
	   	style="width:150px;float:left;color: black;padding-top: 15px;font-size: 18px;margin-right: 0px;">
          	线下活动
      </h3>
      <div class="am-input-group">	
	      <span class="am-input-group-btn" >
	      	<button class="am-btn" type="button" onclick="GoHome()" 
	        	style="background-color: white;border-color:white;margin-left: 40px;">
	        	<div><img class="am-header-icon-custom" src="~/Images/icon/主页.png" style="height: 20px;" alt=""/></div>
	        </button>
	        
	      </span>
	    </div>
	</header>
  	<hr style="margin-top: 0px;"/>
  	<div id="activity">
  		<div data-am-widget="list_news" class="am-list-news am-list-news-default" style="margin-top: -20px;">
		  <!--列表标题-->		
		  <div class="am-list-news-bd">
			  <ul class="am-list" v-for="item in activityList">
			     <!--缩略图在标题左边-->
			      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="padding-top: 5px;padding-bottom: 5px;height: 80px;">
			        <div class="am-u-sm-4 am-list-thumb" style="width: 30%;height: 70px;padding-right: 0px;">
			        	<img :src="item.ImageUrl"/>
			        </div>
			
					<table class=" am-u-sm-8 am-list-main" style="height: 70px;position:relative;" v-on:click="GoDetail(item)">
						<tr>
							<td style="height: 30px;">
								<div class="am-list-item-hd" style="color: black;height:42px; overflow:hidden;">
			            			{{item.ArticleTitle}}
			            		</div>								
							</td>
						</tr>
						<tr>
							<td>
								<div style="color: #999999;float: right;padding-top: 5px"><img style="margin-right: 3px;height: 18px;" class="am-header-icon-custom" src="~/Images/icon/眼睛.png" alt=""/>{{item.ClickCount}}</div>
								<div style="color: #999999;float: right;padding-top: 5px;margin-right: 10px;"><img style="margin-right: 3px;" class="am-header-icon-custom" src="~/Images/icon/日历.png" alt=""/>{{item.CreateTime}}</div>
							</td>
							
						</tr>
					</table>	
			       
			      </li>  
			    </ul>
		  </div>
		</div>        
  	</div>
  	
</body>


<script>
	var openid = '@ViewBag.Openid';
	var activityVue=new Vue({
		el:"#activity",
		data:{
			activityList:[]
		},
		created: function () {
                this.Query()
         },
         methods:{
         	Query:function () {  
			    var _self = this;
                $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json",
                    url: "/WxArticle/GetAllArticlesByType?pGuid=" + guid(),
                    data: {
                    	type:"2"
                    },
                    success: function (result) {
                        $.each(result, function(index,value) {
                    		var date=value.CreateTime;                    		
                    		var ncd=new Date(parseInt(date.substr(6, 13))); 
                    		var y = ncd.getFullYear();  
						    var m = ncd.getMonth() + 1;  
						    m = m < 10 ? '0' + m : m;  
						    var d = ncd.getDate();  
						    d = d < 10 ? ('0' + d) : d; 
                    		value.CreateTime= m + '-' + d;
                    	});
                        _self.activityList = result;
                    },
                    error: function (json) {
                        _self.$message.error('查询失败');
                    }
                });
			},
			GoDetail:function(model){	
				var type="2";
				var id=model.ArticleId;
				$.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/WxBase/ClickLog?pGuid=" + guid(),
                    data: {
                    	obType:type,
						id:id,
						openid:openid
                    },
                    success: function (result) {
                    },
                    error: function (json) {
                        
                    }
                });
				window.location.href = model.ImageLink;
			}
         }
	});
	
	 function guid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
	
	
	function GoHome()
	 {
	 	window.location.href = "/WxHome/Index?openid="+openid+"&&code=null&&state=null";
	 }
</script>
